body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

* {
    box-sizing: border-box;
  }
  
  .Container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    min-width: 800px;
    border: 2px solid black;
    padding: 10px;
  }
  
  .box {
    border: 1px solid black;
    max-width: 25px;
    max-height: 25px;
    flex: 1;
  }

  .highlight {
    background-color: aqua;
  }
  