body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

* {
    box-sizing: border-box;
  }
  
  .Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    border: 2px solid black;
    padding: 10px;
  }
  
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    gap: 12px;
  }

  .box {
    border: 1px solid black;
    max-width: 75px;
    max-height: 75px;
    flex: 0 0 500px;
    height: 750px;
  }

  .highlight {
    background-color: aqua;
  }

  .popup {
    background-color: aquamarine;
    border-radius: 8px;
    padding: 12px;
  }
  